@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
    font-family: montserrat !important;
    background-color: #252524 !important;
    color: white !important;
    display: grid;
}


.bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -9;
    filter: brightness(40%);
}

@media only screen and (max-width: 1250px) {
    .bg {
        width: 1240px;
    }

}

.text {
    width: 80vw;
    text-align: center;
    justify-self: center;
    margin-top: 70px;    
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .text {
        width: 100vw;
    }
    .bg {
        filter: brightness(25%);
    }
}