@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
    font-family: montserrat !important;
    background-color: #252524 !important;
    color: white !important;
    display: grid;
}

.navbar {
    background-image: linear-gradient(#333333, #333333);
    position: fixed !important;
    top: 0 !important;
    width: 100vw;
}

.active {
    color: #e943af !important;
}

a {
    color: white !important;
}

a:hover {
    color: #f35bbe !important;
}

.text {
    width: 70vw;
    text-align: center;
    justify-self: center;
    padding-top: 10px;
    padding-bottom: 20px;
}